.wrapper {
  width: 600px;
  margin-right: 20px;
}

.navPanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}

.nav1 {
  grid-column: 1;
}

.nav2 {
  grid-column: 2;
}

.nav3 {
  grid-column: 3;
}

.titleProduct {
  height: 48px;
}

.wrapperIngridients {
  composes: custom-scroll from global;
  height: 716px;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}
